.shelves {
  padding-bottom: 100px;
}

.shelves .shelves__head {
  background-color: #487eb0;
  padding: 15px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.shelves .shelves__head h1 {
  color: #fff;
  font-weight: 500;
  font-size: 40px;
  margin: 0;
}

.shelves .shelves__search-page {
  position: fixed;
  bottom: 5%;
  right: 3%;
  width: 70px;
  height: 70px;
  background-color: #487EB0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  cursor: pointer;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.shelves .shelves__search-page img {
  width: 50%;
}